<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
    background-color: #f9f9fa;
    background-image:url('https://wallpaperaccess.com/full/3718213.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

/* .img-radius {
    /* border-radius: 20px; */
    /* width: 50px; */
/* } */ 


 
h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



    </style>
</head>
<body>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end m-xxl-5">
        <a href="/doctorLogout"><button class="btn btn-primary me-md-2" type="button">LogOut</button></a>
        <!-- <button class="btn btn-primary" type="button">Button</button> -->
      </div>


    <div class="page-content page-container m-auto" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
    <div class="col-xl-6 col-md-12 mx-5" >
        <div class="card user-card-full">
                                                        <div class="row m-l-0 m-r-0 ">
                                                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                                                <div class="card-block text-center text-white">
                                                                    <div class="m-b-20">
                                                                        <img src="https://t3.ftcdn.net/jpg/02/95/51/80/360_F_295518052_aO5d9CqRhPnjlNDTRDjKLZHNftqfsxzI.jpg" class="img-radius" alt="User-Profile-Image" style="width: 180px;  height: 200px;">
                                                                    </div>
                                                                    <h6 class="f-w-600"><%=doctor.name%></h6>
                                                                    <p><%=doctor.designation%></p>
                                                                    <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-8">
                                                                <div class="card-block">
                                                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <p class="m-b-10 f-w-600">Email</p>
                                                                            <h6 class="text-muted f-w-400"><%=doctor.email%></h6>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <p class="m-b-10 f-w-600">Phone</p>
                                                                            <h6 class="text-muted f-w-400"><%=doctor.phone%></h6>
                                                                        </div>
                                                                    </div>
                                                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <p class="m-b-10 f-w-600">Certificate</p>
                                                                            <h6 class="text-muted f-w-400"><%=doctor.license%></h6>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <p class="m-b-10 f-w-600">Appointment Charges</p>
                                                                            <h6 class="text-muted f-w-400"><%=doctor.fee%></h6>
                                                                        </div>
                                                                    </div>
                                                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <p class="m-b-10 f-w-600">Department</p>
                                                                            <h6 class="text-muted f-w-400"><%=doctor.department%></h6>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="d-grid gap-2 d-md-block">
                                                                                <a href="/updateDoctor/<%=doctor._id%>"><button class="btn btn-primary" type="button">Update</button></a>
                                                                                <a href="/doctorDelete/<%=doctor._id%>"><button class="btn btn-primary" type="button">Delete</button>
                                                                              </div></a>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <a href="/appointmentbydoctor/<%=doctor.name%>"><button class="btn btn-primary" type="button">Appointments</button></a>
                                                                                
                                                                        </div>
                                                                    </div>
                                                                    <ul class="social-link list-unstyled m-t-40 m-b-10">
                                                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                                                        <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                 </div>
                                                    </div>
                                                </div>
    <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">Doctor's Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Department</th>
            <th scope="col">Designation</th>
            <th scope="col">License</th>
            <th scope="col">Fee</th>
            <th scope="col">Appointments</th>
            <th scope="col">Update / Delete</th>



          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=doctor.name%></td>
            <td><%=doctor.email%></td>
            <td><%=doctor.phone%></td>
            <td><%=doctor.department%></td>
            <td><%=doctor.designation%></td>
            <td><%=doctor.license%></td>
            <td><%=doctor.fee%><br/></td>
            <td><a href="/appointmentbydoctor/<%=doctor.name%>">Appointments</a></td>
            <td><a href="/updateDoctor/<%=doctor._id%>">Update</a> /  <a href="/doctorDelete/<%=doctor._id%>">Delete</a></td>
          </tr>
          
        </tbody>
      </table> -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>